Esp32/AD_potenciometro/build/
Esp32/Blink_Task/Blink_Task/build/
Esp32/Colas_First_Step/build/
Esp32/ConversorAD/build/
Esp32/Interrupciones_Semaforo_Cola_Blink/build/
Esp32/Interrupciones_Semaforos/build/
Esp32/Interrupciones_Semaforos_2/build/
Esp32/Task_TestTime_State/build/
Esp32/Read_AnalogicPorts/build/
